@use "../abstracts/variables";

.page {
  display: flex;
  justify-content: center;
  background-color: variables.$bg-color;
}

.app-container {
  background-image: url("../assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  width: min(100vw, 1440px);
  height: 100vh;
}