@use "../abstracts/variables";

html {
  font-size: 16px;
}

.page {
  display: flex;
  justify-content: center;
  background-color: variables.$bg-color;
}

.app-container {
  background-image: url("../assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  width: min(100vw, 1440px);
  background-position: 0px -34px;
  padding: 2.5rem 1.875rem;
  transition: background-position 0.5s ease-out;
}

// Tablet-landscape
@media screen and (orientation: landscape) and (max-width: 1439.99px) {
  .app-container {
    padding: 1.875rem 1.875rem;
  }
}

// Tablet-portrait
@media screen and (orientation: portrait) and (max-width: 1439.99px) {
  .app-container {
    padding: 1.875rem 1.875rem;
  }
}

// Mobile-landscape
@media screen and (orientation: landscape) and (max-width: 1023.99px) {
  .app-container {
    padding: 1rem;
  }
}

// Mobile-portrait
@media screen and (orientation: portrait) and (max-width: 767.99px) {
  .app-container {
    padding: 1.25rem 1rem;
  }
}

// Tablet-landscape
@media screen and (orientation: landscape) and (max-width: 1439.99px) {
  .app-container {
    background-position: -213px -110px;
  }
}

// Tablet-portrait
@media screen and (orientation: portrait) and (max-width: 960px) {
  .app-container {
    background-position: -203px 0px;
  }
}

// Mobile-landscape
@media screen and (orientation: landscape) and (max-width: 900px) {
  .app-container {
    background-position: -431px -57px;
  }
}

// Mobile-portrait
@media screen and (orientation: portrait) and (max-width: 400px) {
  .app-container {
    background-position: -679px -112px;
  }
}

// Desktop
@media screen and (max-width: 3000px) {
  .app-container {
    background-position: 0px -34px;
  }
}