@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&display=swap');

html {
  font-family: "El Messiri", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}