.app-container {
  background-image: url("../assets/images/bg-image.jpg");
  background-repeat: no-repeat;
  display: grid;
  box-sizing: border-box;
  pointer-events: none;
  transition: background-position 0.5s ease-out;
}
