@use "../abstracts/variables";
@use "../base/typography";

.hint {
  grid-area: hint;
}

.hint__container {
  min-width: 44.25rem;
  min-height: 9.3125rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.375rem;
  padding: 0.75rem;
  border-radius: 0.625rem;
  background-color: variables.$container-primar-color;
  color: variables.$text-color-basic;
  max-height: 9.25rem;
  box-sizing: border-box;
}

.hint__title {
  @include typography.text-subheader-desktop;
  color: variables.$text-color-accent;
  margin: 0;
  line-height: inherit;
}

.hint__text {
  @include typography.text-medium-desktop;
  text-align: center;
  line-height: 1.2;
}