@use "../abstracts/variables";
@use "../base/typography";

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: word;
}

.word__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.word__letter {
  @include typography.answer-font-desktop;
  border-radius: 0.3125rem;
  background-color: variables.$container-primar-color;
  color: variables.$text-color-basic;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  box-sizing: border-box;
}

.letter__line {
  background-color: variables.$text-color-accent;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
}

.word__letter_open .letter__line {
  display: none;
  height: 0;
}
